<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ru">
<head>
    <title>Main page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/game.js"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">OpenCodeGame</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" id="buttonNewGame" href="#">New game</a></li>
                <li class="nav-item"><a class="nav-link" id="buttonHistory" href="#">History</a></li>
                <li class="nav-item"><a class="nav-link" id="buttonShowNumber" href="#">Give up</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a href="/logout" class="nav-link">Sign out</a></li>
            </ul>
        </div>
</nav>
<div class="container">
    <label class="text-info" id="msgLabel" th:text="${message != null} ? ${message} : ''"></label>
    <div id="fieldInfo">
        <label class="text-info">Click new game at navbar to begin a game</label>
        <br/>
        <label class="text-info">Click give up to show the magic number</label>
        <br/>
        <label class="text-info">Click history to see your states</label>
    </div>
    <div id="fieldHistory">
        <label class="text-info" id="labelTotalGames"></label>
        <br/>
        <button id="buttonBackFromTurns">Back</button>
        <div id="fieldAdventures">

        </div>
    </div>
    <div id="fieldGame">
        <input type="number" id="fieldUsersPredict" placeholder="Your predict" min="0" max="9999"/>
        <button class="btn btn-primary" id="buttonSend">Send</button>
        <label id="fieldServerAnswer"></label>
    </div>
</div>
<script>
    $("#buttonNewGame").on("click", async function() { await onButtonNewGameClick(); });
    buttonHistory = $("#buttonHistory");
    gameField = $("#fieldGame");
    infoField = $("#fieldInfo");
    answerField = $("#fieldServerAnswer");
    buttonSend = $("#buttonSend");
    historyField = $("#fieldHistory");
    adventuresField = $("#fieldAdventures");
    buttonShowNumber = $("#buttonShowNumber");
    labelTotalGames = $("#labelTotalGames");
    buttonBackFromTurns = $("#buttonBackFromTurns");
    buttonBackFromTurns.on("click", function() { onButtonBackFromTurns(); });
    buttonShowNumber.on("click", async function() { await onButtonShowNumberClick(); });
    buttonSend.on("click", async function () { await onButtonSendClick(); });
    buttonHistory.on("click", async function f() { await onButtonHistoryShow(); });
    buttonBackFromTurns.hide();
    buttonShowNumber.hide();
    historyField.hide();
    gameField.hide();
</script>
</body>
</html>